{{!-- 
Cap nhat thong tin, upload video, danh dau hoan thanh
 --}}
 {{#section 'js'}}
 <script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{{/section}}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>New Course</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/course">Course</a>
                            <span>New course</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Course Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__pic">
                            <div class="product__details__pic__item">
                                <img id="output" class="product__details__pic__item--large"
                                    src="/public/img/product-5.jpg" alt="">
                            </div>
                            <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                            <label for="file" style="cursor: pointer;" class="primary-btn">Upload Image</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__form">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <div class="checkout__input">
                                        <p>Course's Name</p>
                                        <input type="text" name="CourseName" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Price</p>
                                                <input type="number" name="Price" value="20">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Category</p>
                                                <select name="CategoryID" required>
                                                    {{#each cates}}
                                                    <option value="{{CategoryID}}">{{CategoryName}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Short Description</p>
                                        <textarea name="ShortDescription"></textarea>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <p>Full Description</p>
                        <div class="checkout__input">
                            <textarea placeholder="About this course" name="FullDescription"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="site-btn">ADD THIS COURSE</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Course Details Section End -->

