{{!-- 
Nhap thong tin cua khoa hoc, co trang thai "da hoan thanh/chua hoan thanh" --}}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Upload Course</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/">Course</a>
                            <span>Upload course</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Course Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__pic">
                            <div class="product__details__pic__item">
                                <img class="product__details__pic__item--large"
                                    src="public/img/product/details/product-details-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6">
                                        <div class="checkout__input">
                                            <p>Course's Name</p>
                                            <input type="text">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Price</p>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Promotion</p>
                                                    <input type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout__input">
                                            <p>Short Description</p>
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                        aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                        aria-selected="false">Syllabus</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <div class="contact-form spad">
                                        <div class="container">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <textarea placeholder="About this course"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-2" role="tabpanel">
                                    <div class="contact-form spad">
                                        <div class="container">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <textarea placeholder="All chapters"></textarea>
                                                        <textarea placeholder="Review chapters"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="site-btn">UPLOAD COURSE</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Course Details Section End -->

