.sitebar__menu {
	padding: 24px 0;
}

.sitebar__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.sitebar__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 20px;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.sitebar__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.sitebar__menu ul li .header__menu__dropdown li:hover>a {
	color: #014011;
}

.sitebar__menu ul li .header__menu__dropdown li a {
	text-transform: none;
	color:#014011 !important;
	font-weight: 400;
	padding: 5px 15px;
}

.sitebar__menu ul li.active a {
	color: #014011;
}

.sitebar__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.sitebar__menu ul li:hover>a {
	color: #014011;
}

.sitebar__menu ul li:last-child {
	margin-right: 0;
}

.sitebar__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all, 0.3s;
	padding: 5px 20px;
	display: block;
}

.category i a{
	height: 25px;
	width: 65px;
	background:#0E99DA;
	border-radius: 10%;
	font-size: 16px;
	color: white ;
	line-height: 20px;
	text-align: center;
	position: absolute;
	right: 15px;
	top: 15px;
}


.rating i {
	color: #FFC801;
	font-style: normal !important;
}
.rating {
	color: black;
	font-weight: lighter;
	font-size: small;
}


.best__seller i{
	height: 45px;
	width: 45px;
	background:#D60000;
	border-radius: 50%;
	font-size: 10px;
	color: #ffffff ;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 15px;
	top: 15px;
	text-transform: uppercase;
}

.breadcrumb__text h2 {
	font-size: 46px;
	color:#131B26 !important;
	font-weight: 700;
}

.breadcrumb__option a {
	display: inline-block;
	font-size: 16px;
	color:#131B26 !important;
	font-weight: 700;
	margin-right: 20px;
	position: relative;
}

.breadcrumb__option a:after {
	position: absolute;
	right: -12px;
	top: 13px;
	height: 1px;
	width: 10px;
	background:#131B26 !important;
	content: "";
}

.breadcrumb__option span {
	display: inline-block;
	font-size: 16px;
	color:#131B26 !important;
}
