@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap);

.color-primary {
  color: #5A8DEE;
}

.color-secondary {
  color: #475F7B;
}

.color-success {
  color: #39DA8A;
}

.color-danger {
  color: #FF5B5C;
}

.color-warning {
  color: #FDAC41;
}

.color-info {
  color: #00CFDD;
}

.color-dark {
  color: #222f3e;
}

.color-light {
  color: #A3AFBD;
}

.color-link {
  color: #2178d1;
}

* {
  font-family: "Raleway";
}

#app {
  position: relative;
}

#main {
  margin-left: 260px;
  background-color: #F7FAFF;
  min-height: 100vh;
  transition: margin-left 0.6s ease-out;
}
#main .main-content {
  padding: 2rem 1.5rem;
}
#main .main-content .page-title h3 {
  font-size: 2rem;
}
#main .main-content .text-subtitle {
  font-size: 0.9rem;
}

footer {
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 767px) {
  #main {
    margin-left: 0;
  }

  .breadcrumb-header .breadcrumb {
    justify-content: flex-start;
    padding: 0;
    font-size: 0.8rem;
  }
}

/* Avatar */
.avatar {
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Sidebar */

#sidebar.active .sidebar-wrapper {
  left: 0;
}

#sidebar:not(.active) ~ #main {
  margin-left: 0;
}

.sidebar-wrapper {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  bottom: 0;
  border-right: 1px solid #eee;
  box-shadow: 0 0 10px #ececec;
  left: -260px;
  transition: left 0.6s ease-out;
  overflow-y: auto; 
  overflow-x: hidden;  
  
  /* -webkit-transition: margin .6s ease-out;
  -moz-transition: margin .6s ease-out;
  -o-transition: margin .6s ease-out; */
}

.sidebar-wrapper .sidebar-header {
  padding: 2rem 2rem 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.sidebar-wrapper .sidebar-header img {
  height: 2.5rem;
}
.sidebar-wrapper .sidebar-toggler.x {
  position: absolute;
  right: 0;
  top: 0.5rem;
  display: none;
}
.sidebar-wrapper .menu {
  padding-left: 0;
  margin-top: 2rem;
}
.sidebar-wrapper .menu .sidebar-title {
  padding: 1.5rem 1.8rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #888;
  text-transform: uppercase;
}
.sidebar-wrapper .menu .sidebar-link {
  display: block;
  padding: 0.7rem 1.5rem;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.sidebar-wrapper .menu .sidebar-link span {
  color: #053382;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0.8;
}
.sidebar-wrapper .menu .sidebar-item {
  list-style: none;
  margin-top: 0.5rem;
  position: relative;
}
.sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
  position: absolute;
  color: #ccc;
  right: 15px;
  top: 12px;
  display: block;
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
  background-color: #e8f3ff;
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(46, 170, 244, 0.5);
  width: 5px;
}
.sidebar-wrapper .menu .submenu {
  list-style: none;
  max-height: 0;
  transition: all 0.6s ease-out;
  overflow: hidden;
}
.sidebar-wrapper .menu .submenu.active {
  max-height: 200px;
}
.sidebar-wrapper .menu .submenu li a {
  padding: 0.7rem 3rem;
  display: block;
  color: #676767;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}
.sidebar-wrapper .menu .submenu li a:hover {
  margin-left: 0.3rem;
}

.sidebar-wrapper .menu li a:hover {
    text-decoration: none;
}

.sidebar-wrapper .menu .sidebar-link:hover span{
    color: #648bce;
}

@media screen and (max-width: 767px) {
  .sidebar-wrapper {
    left: -270px;
  }
  .sidebar-wrapper .sidebar-toggler.x {
    display: block;
  }
}



