<nav class="navbar navbar-header navbar-expand navbar-light bg-dark">
  <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
  <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <div class="avatar mr-1">
            <img src="/public/img/cart/cart-1.jpg" alt="" srcset="">
          </div>
          {{!-- <div class="d-none d-md-block d-lg-inline-block">Hi, Saugi</div> --}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <h6 class="dropdown-header">Hi Admin</h6>
          <a class="dropdown-item" href="/user"><i data-feather="user"></i> Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i data-feather="log-out"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>