    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Confirm </h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Confirm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form id="frm-confirm" action=""  method="POST">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                        </div>
                        <div class="col-lg-4 col-md-6">
                                <div class="checkout__order">
                                <div class="checkout__order__products">You have <span>${{user.Wallet}}</span></div>
                                <ul>
                                    <li>Course's name <span>${{course.Price}}</span></li>
                                </ul>
                                <div class="checkout__order__total">Account balance <span>${{balanse}}</span></div>
                                {{#if isOK}}
                                <button type="submit" onclick="submitConfirm()" class="site-btn btn-confirm">CONFIRM</button>
                                <button onclick="cancelBackHome()" class="site-btn btn-cancel">CANCEL</button>
                                {{else}}
                                <button onclick="cancelBackHome()" class="site-btn btn-cancel">CANCEL</button>
                                {{/if}}
                                </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

{{#section 'js'}}
<script>
$('#frm-confirm').on('submit', function (e) {
    e.preventDefault();
});

function submitConfirm(){
    $('#frm-confirm').off('submit').submit();
}

function cancelBackHome() {
    window.location.href = "/";
}

</script>
{{/section}}
