{{#section 'js'}}
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{{/section}}
    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Sign Up</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Signup</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Signup Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Sign Up</h4>
                {{!-- Start form  --}}
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text" name="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" name="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Email<span>*</span></p>
                                <input type="email" name="email">
                            </div>
                            <div class="checkout__input">
                                <p>Password<span>*</span></p>
                                <input type="password" name="password">
                            </div>
                            <div class="checkout__input">
                                <p>Give me a Display Name</p>
                                <input type="text"
                                    placeholder="<Firstname><Lastname>"
                                        name="display_name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Account</h4>
                                <div class="product__details__pic">
                                    <div class="product__details__pic__item">
                                        <img id="output" class="product__details__pic__item--large"
                                            src="/public/img/avatar-1.jpg" alt="">
                                    </div>
                                    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                                    <label for="file" style="cursor: pointer;" class="primary-btn">Upload Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__btns">
                                <button type="submit" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                                    Register</button>
                            </div>
                        </div>
                    </div>
                </form>
                {{!-- End form --}}
            </div>
        </div>
    </section>
    <!-- Signup Section End -->
