<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{#if title}} {{title}} - {{/if}} Online Course</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">

    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    
    <link rel="stylesheet" href="/public/css/home.css" type="text/css">

</head>


<body>
    <!--Header-->
    {{#if isAuth}}
    {{#ifeq authUser.Role 0}}
      {{> user_header this}}
    {{/ifeq}}
    {{#ifeq authUser.Role 1}}
      {{> teacher_header this}}
    {{/ifeq}}
    
    {{else}}
      {{> header}}
    {{/if}}
    
    <!--End of header-->

    <!--Main body-->
    {{{body}}}
    <!--End main body-->

    <!-- Footer -->
    {{> footer}}
    <!-- Footer -->
    
    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>

    <script src="/public/js/main.js"></script>

</body>
</html>